<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${po}">
    <h1>Delivery Details</h1>
    Order Number: 
    <a data-th-text="*{orderId}"
    data-th-href="@{'/order/' + ${po.orderId}}"
    ></a>
    <br>
    Your order will be delivered to 
    <span data-th-text="*{address}"></span>
    <br>
    Pizza cost: $
    <span data-th-text="*{pizzaCost}"></span>
    <br> 
    <span data-th-if="${po.rush} == true">Rush: $ 2</span>
    <br>
    Total cost: $
    <span data-th-text="*{total}"></span>
    <br>
</body>
</html>
