<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		.error{
			color:red
		}
	</style>
    <title>Document</title>
</head>
<body>
    
        <h1>Order Delivery Details</h1>
    
    <form action="#" data-th-action="@{/pizza/order}" data-th-object="${details}" method="post">
        
        Name: 
        <input type="text" data-th-field="*{name}">
        <span class="error" data-th-if="${#fields.hasErrors('name')}"
                data-th-errors="*{name}"></span>
            
        <br>
        
        Address: 
        <input type="text" data-th-field="*{address}">
        <span class="error" data-th-if="${#fields.hasErrors('address')}"
                data-th-errors="*{address}"></span>
            
        <br>
        
        Phone: 
        <input type="text" data-th-field="*{phone}">
        <span class="error" data-th-if="${#fields.hasErrors('phone')}"
                data-th-errors="*{phone}"></span>
            
        <br>
        
        Rush: 
        <input type="checkbox" value="1" data-th-field="*{rush}"/>
            
        <br>   
        
        Comments: 
        <input type="text" data-th-field="*{comments}">
            
        <br>
        
        <button onclick="history.back()">Cancel Order</button>
        <button type="submit">Place Order</button>
            
    </form>

</body>
</html>